* {
  box-sizing: border-box;
}

@font-face {
  font-family:'Lazord-Bold' ;
  src: url('fonts/Lazord-Bold.otf')format('opentype');
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Lazord-Bold'; 
  background-color:black;
  overflow:visible;
  background-color:#BBFD00;
  background-image: url("img/478050_10152747034490247_887388286_o.jpg");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: bottom right;

 
}


.bio{
  display:flex;
  justify-items:flex-start;
  width: 50%;
  height:100vh;
  margin:0;

}



p{
  position: absolute;
  width:55%;
  font-size: 30px;
  line-height: 35px;
  padding-left:60px;
  padding-top:80px;
  line-height: 1.2;
  list-style-type: none;
  color:black;
  max-width:585px;
  
/* can't get the custom cursors to run */
 
}

p:hover{
  color:blue;
  cursor: url("img/thumbemoji.png") pointer;
  
}

.social{
  position:absolute;
  flex-direction: column;
  text-align: right;
  width:100vw;
  font-size: 30px;
  padding-right:30px;
  line-height: 1.2;

}
ul
{
list-style-type: none;
padding-top: 15px;
margin: 0;
text-align: right;
}

li{
background-image: url("img/emojis\ 32x32-02.png");
background-repeat: no-repeat;
background-position: 100% 0em;
padding-right: 1.5em;

}

li:hover{
background-image: url("img/black-02.png");
background-repeat: no-repeat;
background-position: 100% 0em;
padding-right: 1.5em;
cursor: url("img/angel.png"), pointer;
}


#myLinks > a {
  display: block;
}


a {
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 0px 0px;
  color: black;
  text-decoration: none;
     
}

a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%230000ff' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 12px;
  background-repeat: repeat-x;
  text-decoration: none;
  color:#0000ff;

}
.topnav {
  background-color: #333;
  display: none;
  background: black;
  position: absolute;
  right: 0;
  top: 0;

}

.topnav a {
  color: #BBFD00;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a:hover {
  background-color: #BBFD00;
  color: black;
}
.active {
  background-color: white;
  color: #BBFD00;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  body {
    background-image: url("img/478050_10152747034490247_887388286_o.jpg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: bottom right;
  
   
  }
  p{
    position: absolute;
    width:55%;
    font-size: 16px;
    line-height: 35px;
    padding-left:10px;
    padding-top:0px;
    line-height: 1.2;

    color:black;
    

  }
  .social {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    width: 50%;
    top: 0;
    height: 20%;
    padding-left: 0;
  }

  .topnav {
    display: inline-block;
  }


  li{
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
  }
}
 
 
