* {
  box-sizing: border-box;
}

@font-face {
  font-family:'Lazord-Bold' ;
  src: url('fonts/Lazord-Bold.otf')format('opentype');
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Lazord-Bold'; 
  background-color:black;
  overflow:visible;
  background-color:#BBFD00;
  
}

.pic{
  width:100vw;
  height:100vh;
  position: fixed;
  background-image: url("img/me.jpg");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: bottom right;
  bottom:0;
  right:0;

}




.info{
  position: absolute;
  width:55%;
  height:calc(100% - 120px);
  font-size: 30px;
  line-height: 35px;
  padding-left:60px;
  bottom:0px;
  line-height: 1.2;
  list-style-type: none;
  color:black;
  max-width:620px;
  text-decoration: none;
  padding-top:100px;
  

 
}

.info:hover {
  color:blue;
  cursor: url("img/emojis\ 32x32-05.png"), pointer;
}



#item-one:hover{
cursor: url("img/angel.png"), pointer;
}



#item-one{
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 0px 0px;
  color: black;
  text-decoration: none;
     
}
#item-two{
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 0px 0px;
  color: black;
  text-decoration: none;
     
}
#item-three{
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 0px 0px;
  color: black;
  text-decoration: none;
     
}
#item-four{
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 0px 0px;
  color: black;
  text-decoration: none;
     
}

#item-one:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%230000ff' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 12px;
  background-repeat: repeat-x;
  text-decoration: none;
  color:#0000ff;

}

#item-two:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%230000ff' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 12px;
  background-repeat: repeat-x;
  text-decoration: none;
  color:#0000ff;

}

#item-three:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%230000ff' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 12px;
  background-repeat: repeat-x;
  text-decoration: none;
  color:#0000ff;

}

#item-four:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%230000ff' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 12px;
  background-repeat: repeat-x;
  text-decoration: none;
  color:#0000ff;

}





.container {
  width: 100%;
  overflow: hidden;
  position: fixed;
  margin: 0 auto;
  width: 100vw;
  top:0;
  background-color: black;
}
.wrap{
  display:inline-flex;
  align-content: space-around;
  width: 100%;
  height: 80px;
  margin: 0px;
  justify-items: center;
  align-items: center;
  padding:0;
  text-align: center;
  
}


#item-one {
  height:100%;
  width:100%;
  font-size: 30px;
  font-family: 'Lazord-Bold'; 
  color: #BBFD00;
  margin-top: 12px;
  text-transform:lowercase;
  letter-spacing: 2px;  
  margin:0px;
  padding-top:30px;
  line-height: .5em;
 
}
#item-two {
  height:100%;
  width:50%;
  font-size: 30px;
  font-family: 'Lazord-Bold'; 
  color: #BBFD00;
  margin-top: 12px;
  text-transform:lowercase;
  letter-spacing: 2px;  
  margin:0px;
  padding-top:30px;
  line-height: .5em;
 
}

#item-three {
  height:100%;
  width:100%;
  font-size: 30px;
  font-family: 'Lazord-Bold'; 
  color: #BBFD00;
  margin-top: 12px;
  text-transform:lowercase;
  letter-spacing: 2px;  
  margin:0px;
  padding-top:30px;
  line-height: .5em;
 
}

#item-four {
  height:100%;
  width:100%;
  font-size: 30px;
  font-family: 'Lazord-Bold'; 
  color: #BBFD00;
  margin-top: 12px;
  text-transform:lowercase;
  letter-spacing: 2px;  
  margin:0px;
  padding-top:15px;
  line-height: 1em;
 
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  body {
    background-image: url("img/478050_10152747034490247_887388286_o.jpg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: bottom right;
  
   
  }
  .info{
    position: absolute;
    width:80%;
    font-size: 18px;
    line-height: 35px;
    padding-left:8px;
    line-height: 1.2;
    color:black;
    padding-left:20px;
    height: calc(100% - 70px);
    padding-top: 0;
    margin: 0;
    

  }
 

  .pic{
    width:100vw;
    height:100vh;
    position: fixed;
    background-image: url("img/me.jpg");
    background-repeat: no-repeat;
    background-size: 52%;
    background-position: bottom right;
    bottom:0;
    right:0;
  
  }



  .container {
    width: 100%;
    overflow: hidden;
    position: fixed;
    margin: 0 auto;
    width: 100vw;
    top:0;
    background-color: black;
  }
  .wrap{
    display:inline-flex;
    align-content: space-around;
    width: 100%;
    height: 45px;
    margin: 0px;
    justify-items: center;
    align-items: center;
    padding:0;
    text-align: center;
    
  }
  
  
  #item-one {
    height:100%;
    width:100%;
    font-size: 14px;
    font-family: 'Lazord-Bold'; 
    color: #BBFD00;
    margin-top: 12px;
    text-transform:lowercase;
    letter-spacing: 2px;  
    margin:0px;
    padding-top:20px;
    line-height: .5em;
   
  }
  #item-two {
    height:100%;
    width:50%;
    font-size: 14px;
    font-family: 'Lazord-Bold'; 
    color: #BBFD00;
    margin-top: 12px;
    text-transform:lowercase;
    letter-spacing: 2px;  
    margin:0px;
    padding-top:20px;
    line-height: .5em;
   
  }
  
  #item-three {
    height:100%;
    width:100%;
    font-size: 14px;
    font-family: 'Lazord-Bold'; 
    color: #BBFD00;
    margin-top: 12px;
    text-transform:lowercase;
    letter-spacing: 2px;  
    margin:0px;
    padding-top:20px;
    line-height: .5em;
   
  }
  
  #item-four {
    height:100%;
    width:100%;
    font-size: 14px;
    font-family: 'Lazord-Bold'; 
    color: #BBFD00;
    margin-top: 12px;
    text-transform:lowercase;
    letter-spacing: 2px;  
    margin:0px;
    padding-top:10px;
    line-height: 1em;
   
  }
}