
* {
  box-sizing: border-box;
}

@font-face {
  font-family:'Lazord-Bold' ;
  src: url('fonts/Lazord-Bold.otf')format('opentype');
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Lazord-Bold'; 
  background-color:rgb(0, 0, 0);
 
}

/* NAVIGATION */
.nav-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 80px);
  margin:0;
  text-align: center;
  width: 20%;
  position: fixed;
  font-size: 35px;
  color:#BBFD00;
  letter-spacing: 2px; 
  padding-left: 40px;
  
}

a{
  color:#BBFD00;
  text-decoration:none;
}

.nav-container > a {

  width:10px;
}

.home{
  width:100%;
}

.logo{
  width:100%;
}

/* HERO IMAGE */
.process-image{
  display:flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content:center;
  width:calc(100% - 20%left);
  margin:0;
  padding-right:30px;
  height: calc(100% - 80px);
}
  
.hero{
  width: 75%;

  
}

/* BOTTOM TICKER */
.tcontainer {
  width: 100%;
  overflow: hidden;
  position: fixed;
  margin: 0 auto;
  width: 100vw;
  bottom:0;
}
.ticker-wrap {
  width: 100%;
  height: 80px;
  background-color: #BBFD00;
  margin: 0px;
}
.ticker-move {
  display: inline-block;
  white-space:nowrap;
}
@keyframes ticker {
  0% { transform: translate(100%); }
  100% { transform: translate(-100%); }
}
.ticker-item:hover {
  animation-play-state:paused;
}
.ticker-item {
  display:-ms-inline-flexbox;
  font-size: 40px;
  font-family: 'Lazord-Bold'; 
  color: rgb(0, 0, 0);
  margin-top: 15px;
  text-transform:lowercase;
  letter-spacing: 2px;  
  animation: ticker 20s linear infinite;
}

/* EMOJI SVG
I can't figure out how to get the text from my HTML to animage along the svg path*/
#emoji-curve{
  position:fixed;
}
#text-container{
  animation:emoji 20s linear infinite;
  position: absolute;
}


@keyframes emoji{
  0% { transform: translate(-100%); }
  100% { transform: translate(100%);
}

/* CUSTOM CURSOR */
img {
  /* this CSS is to make sure your img elements take up the full width of the container, while maintaining aspect ratio. since its container is the <a> tag, the image will be 45% of the page width, inherited from its parent (the <a> tag it's wrapped in) */
  width: 100%;
  height: auto;
}

a:hover {
  cursor: url("img/thumbemoji.png"), pointer;
  size:10px;

.callme {
  display: none;
}


/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  body{
    color:white;
    background-color: chartreuse;
  }

  h1 {
   color:white;
  }
  nav {
    display: none;
  }
 
}
 